.successStoryWrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
    margin-bottom: 100px;
}

.successStorySmallText{
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    
    font-weight: 500;
    
    color: rgb(238, 186, 12);
    text-transform:uppercase ;
}
.successStoryBigText{
    display: block;
    width: 100%;
    text-align: center;
    color: black;
    
}
.successStoryBigText>h2{
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 73px;
}

.successStoryCardWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.successStoryCard {
    width: 326px;
    padding: 20px;
    text-align: center;
    
}

.cardBigText>h3{
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: black;
    
}

.cardSmallText{
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgb(86, 90, 124);
    
}

.successStoryContainer{
    width:1351px ;
    height:545px ;
    padding: 80px;
}


