* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
    
}



/* nav section */






/* my story wrapper */

/* ourservices */


/* successStory */














/* footer */





